<div class="top-row ps-3 navbar navbar-dark" style="background-color: #333; display: flex; align-items: center;">
    <div class="container-fluid">
        <a class="mx-auto">
            <img src="https://i.postimg.cc/5tqF5Y1p/funko.png" alt="funko" style="max-width: 60%; height: auto; display: block; margin: auto;" />
        </a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>


<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu" style="background-color: #555; color: white;">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All" style="color: white;">
                <span class="oi oi-home" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListFunkoVinyls" style="color: white;">
                <span class="oi oi-menu" aria-hidden="true"></span> Funkos
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="ListFunkoCollection" style="color: white;">
                <span class="oi oi-menu" aria-hidden="true"></span> Collection
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
